.navbar {
    background-color:rgba(27, 27, 27, 0.75) !important; 
    padding: 0;
    vertical-align: center;
    border-bottom: 1px solid white;
}

.navbar-brand {
    margin-left: 6.25%;
    background-color: rgba(27, 27, 27, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    color: white !important;
    font-weight: 900;
}

.navbar-toggler {
    border-left: 1px solid white !important;
    border-top: 1px solid white !important;
    border-right: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.navbar-nav {
    margin-left: 60%;
}

.nav-link {
    color: white !important;
}

.nav-item {
    margin-left: 15px;
}

.mainDiv {
    width: 90%;
    padding-top: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 75px;
    background-color: rgba(27, 27, 27, 0.75);
    color: white;
    overflow: auto;
}

hr {
    border-color:white;
}
#portfolioImg {
   float: left;
   padding-right: 3%;

}

